/* --------------------------------------------------------------------------------------------------------------------- General start */

@font-face {
    font-family: "Gilroy", sans-serif;
    src: local("Gilroy");
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: 'Gilroy', sans-serif;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
}

/* --------------------------------------------------------------------------------------------------------------------- General end */


/* --------------------------------------------------------------------------------------------------------------------- Header start */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #ffffff;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.header-wrapper-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-wrapper-left-logo {
    width: 55px;
}

.header-wrapper-left-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 30px;
}

.header-wrapper-left-contacts a {
    text-decoration: none;
    color: black;
}

.header-wrapper-left-contacts-email {
    margin-top: 3px;
}

.header-wrapper-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-wrapper-right-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper-right-menu a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.header-wrapper-right-menu a:hover {
    color: #507bdf;
}

.header-wrapper-right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 30px;
    background: #507bdf;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 30px;
}

.header-wrapper-right-button span {
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

/* --------------------------------------------------------------------------------------------------------------------- Header end */


/* --------------------------------------------------------------------------------------------------------------------- Body start */

.body-firstBlock {
    height: 800px;
    width: 100%;
    background: #e3e4e7;
}

.body-secondBlock {
    height: 800px;
    width: 100%;
    background: #ffffff;
}

.body-thirdBlock {
    height: 800px;
    width: 100%;
    background: #e3e4e7;
}

/* --------------------------------------------------------------------------------------------------------------------- Body end */


/* --------------------------------------------------------------------------------------------------------------------- Footer start */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #1c1e23;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-wrapper-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper-social img {
    cursor: pointer;
}

.footer-wrapper-social-vk {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-wrapper-social-ig {
    width: 25px;
}

.footer-wrapper-social-tg {
    width: 25px;
}

.footer-wrapper-policy {
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #3454cb;
    transition: 0.4s ease-in-out;
}

.footer-wrapper-policy:hover {
    text-decoration: underline;
}

/* --------------------------------------------------------------------------------------------------------------------- Footer end */
