@charset "UTF-8";

/* --------------------------------------------------------------------------------------------------------------------- General start */

@keyframes openPopUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes closePopUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* --------------------------------------------------------------------------------------------------------------------- General end */


/* ---------------------------------------------------------------------------------------------------------------------  ScrollBar start */

.popUp-agreement-text::-webkit-scrollbar, .popUpTwo-policy-text::-webkit-scrollbar {
    width: 12px;
}

.popUp-agreement-text::-webkit-scrollbar-track, .popUpTwo-policy-text::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, 0.15);
}

.popUp-agreement-text::-webkit-scrollbar-thumb, .popUpTwo-policy-text::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.15);
}

/* ---------------------------------------------------------------------------------------------------------------------  ScrollBar end */


/* ---------------------------------------------------------------------------------------------------------------------  Agreement start */

.popUp {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    background: rgb(0, 0, 0, 0.6);
    z-index: 100;
}

.popUp-agreement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255, 0.15);
}

.popUp-agreement-cross {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.popUp-agreement-cross-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(69, 60, 60, 0.5);
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.popUp-agreement-cross-container:hover {
    border-color: var(--colorOne);
    transition: var(--animation);
}

.popUp-agreement-cross-container:hover .popUp-agreement-cross-container-lineOne, .popUp-agreement-cross-container:hover .popUp-agreement-cross-container-lineTwo {
    background-color: var(--colorOne);
    transition: var(--animation);
}

.popUp-agreement-cross-container span {
    position: absolute;
    display: block;
    background-color: rgba(69, 60, 60, 0.5);
    height: 2px;
    width: 15px;
    border-radius: 20px;
}

.popUp-agreement-cross-container-lineOne {
    transform: rotate(45deg);
}

.popUp-agreement-cross-container-lineTwo {
    transform: rotate(135deg);
}

.popUp-agreement-title {
    display: block;
    text-align: center;
    margin: 25px;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.popUp-agreement-text {
    height: 340px;
    width: 480px;
    background: #FFFFFF;
    overflow-y: scroll;
}

.popUp-agreement-text span {
    display: block;
    margin: 0 20px;
    line-height: 1.3rem;
    font-size: 1.1rem;
}

.popUp-agreement-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 180px;
    height: var(--buttonHeight);
    border-radius: var(--butttonBorderRadius);
    font-size: var(--buttonFontSize);
    cursor: pointer;
    background: var(--colorOne);
    transition: var(--animation);
}

.popUp-agreement-button:hover {
    background: var(--colorTwo);
}

.popUp-agreement-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

/* ---------------------------------------------------------------------------------------------------------------------  Agreement end */


/* ---------------------------------------------------------------------------------------------------------------------  Policy start */

.popUpTwo {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    background: rgb(0, 0, 0, 0.6);
    z-index: 100;
}

.popUpTwo-policy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255, 0.15);
}

.popUpTwo-policy-cross {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.popUpTwo-policy-cross-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(69, 60, 60, 0.5);
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.popUpTwo-policy-cross-container:hover {
    border-color: var(--colorOne);
    transition: var(--animation);
}

.popUpTwo-policy-cross-container:hover .popUpTwo-policy-cross-container-lineOne, .popUpTwo-policy-cross-container:hover .popUpTwo-policy-cross-container-lineTwo {
    background-color: var(--colorOne);
    transition: var(--animation);
}

.popUpTwo-policy-cross-container span {
    position: absolute;
    display: block;
    background-color: rgba(69, 60, 60, 0.5);
    height: 2px;
    width: 15px;
    border-radius: 20px;
}

.popUpTwo-policy-cross-container-lineOne {
    transform: rotate(45deg);
}

.popUpTwo-policy-cross-container-lineTwo {
    transform: rotate(135deg);
}

.popUpTwo-policy-title {
    display: block;
    text-align: center;
    margin: 25px;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.popUpTwo-policy-text {
    height: 340px;
    width: 480px;
    background: #FFFFFF;
    overflow-y: scroll;
}

.popUpTwo-policy-text span {
    display: block;
    margin: 0 20px;
    line-height: 1.3rem;
    font-size: 1.1rem;
}

.popUpTwo-policy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 180px;
    height: var(--buttonHeight);
    border-radius: var(--butttonBorderRadius);
    font-size: var(--buttonFontSize);
    cursor: pointer;
    background: var(--colorOne);
    transition: var(--animation);
}

.popUpTwo-policy-button:hover {
    background: var(--colorTwo);
}

.popUpTwo-policy-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

/* ---------------------------------------------------------------------------------------------------------------------  Policy end */
