<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="/img/favicon.svg" type="image/svg+xml">

<!--    <link rel="preload" as="font" href="/font/Gilroy-regular.woff2" type="font/woff2" crossorigin>-->

    <link rel="stylesheet" th:href="/css/index.css" type="text/css">

<!--    <style>-->
<!--        @font-face {-->
<!--            font-family: "Gilroy", sans-serif;-->
<!--            src: local("Gilroy"),-->
<!--            url("/font/Gilroy-regular.woff2") format("woff2");-->
<!--        }-->
<!--    </style>-->

    <title>Мороз В. Н. - Главная</title>

</head>
<body>
    <div class="page-wrapper">
        <header>

        </header>
    </div>
</body>
</html>