<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="@{/custom/img/logo.svg}" type="image/svg+xml">

    <link rel="preload" as="font" th:href="@{custom/font/Gilroy-Regular.woff2}" type="font/woff2" crossorigin>

    <link rel="stylesheet" th:href="@{/custom/css/index.css}" type="text/css">

    <title>Мороз В. Н. - Главная</title>

</head>

<body>
    <div class="page-wrapper">

    <!--    ------------------------------------------------------------------------------------------------------------ Header start -->

        <header>
            <div class="header-wrapper">
                <div class="header-wrapper-left">
                    <div class="header-wrapper-left-logo">
                        <img th:src="@{/custom/img/logo.svg}" alt="">
                    </div>
                    <div class="header-wrapper-left-contacts">
                        <a href="tel:+79515342645" class="header-wrapper-left-contacts-phone">+7-951-534-2645</a>
                        <a href="mailto:vladimirmoroz@help.ru" class="header-wrapper-left-contacts-email">vladimirmoroz@help.ru</a>
                    </div>
                </div>
                <div class="header-wrapper-right">
                    <nav class="header-wrapper-right-menu">
                        <a th:href="@{#}">Инструкция</a>
                    </nav>
                    <div class="header-wrapper-right-button">
                        <span>Информированное согласие</span>
                    </div>
                </div>
            </div>
        </header>

    <!--    ------------------------------------------------------------------------------------------------------------ Header end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Body start -->

        <div class="body">
            <div class="body-firstBlock"></div>
            <div class="body-secondBlock"></div>
            <div class="body-thirdBlock"></div>
        </div>

    <!--    ------------------------------------------------------------------------------------------------------------ Body end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Footer start -->

        <footer>
            <div class="footer-wrapper">
                <div class="footer-wrapper-social">
                    <a class="footer-wrapper-social-ig"><img th:src="@{/custom/img/ig.svg}" alt=""></a>
                    <a class="footer-wrapper-social-vk"><img th:src="@{/custom/img/vk.svg}" alt=""></a>
                    <a class="footer-wrapper-social-tg"><img th:src="@{/custom/img/tg.svg}" alt=""></a>
                </div>
                <a class="footer-wrapper-policy" th:href="@{#}">Пользовательское соглашение</a>
                <span class="footer-wrapper-copyright"></span>
            </div>
        </footer>

    <!--    ------------------------------------------------------------------------------------------------------------ Footer end -->

    </div>

    <!--    ------------------------------------------------------------------------------------------------------------ JavaScript start -->

    <script type="text/javascript" th:src="@{custom/js/common.js}"></script>

    <!--    ------------------------------------------------------------------------------------------------------------ JavaScript end -->

</body>
</html>
