<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="@{/custom/img/logo.svg}" type="image/svg+xml">

    <link rel="preload" as="font" th:href="@{custom/font/Gilroy-Regular.woff2}" type="font/woff2" crossorigin>

    <link rel="stylesheet" th:href="@{/custom/css/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/custom/css/popup.css}" type="text/css">

    <title>Мороз В. Н. - Главная</title>

</head>

<body>

    <div class="page-wrapper">

    <!--    ------------------------------------------------------------------------------------------------------------ Agreement start -->

        <div class="popUp">
            <div class="popUp-agreement">
                <div class="popUp-agreement-cross">
                    <div class="popUp-agreement-cross-container" onclick="hideElement('.popUp', 'closePopUp 0.4s ease', 'none', 380);">
                        <span class="popUp-agreement-cross-container-lineOne"></span>
                        <span class="popUp-agreement-cross-container-lineTwo"></span>
                    </div>
                </div>
                <h3 class="popUp-agreement-title">Информированное добровольное согласие клиента на психологическое консультирование</h3>
                <div class="popUp-agreement-text">
                <span>Психологиеческое консультирование выглядит как обычная беседа, в нем присутствует обыденная речь, но эффект который оно оставляет зачастую недоступен в обычной беседе.
                      Пояснения для индивидуального и группового консультирования
                        Индивидуальное психологическое консультирование – приватная беседа на любые беспокоящие клиента темы, принятие проблем клиента как значительных, помощь в поиске решений и безусловная поддержка принимаемых клиентом решений.
                        Групповая психологическая консультация отличается от индивидуальной тем, что в ходе нее вы можете посмотреть на свои проблемы со стороны других людей, а возможно побывать на их месте, тем самым получив больше опыта и возможностей для решения своих задач.
                        На данный момент собираются группы следующих тематик:
                        -Курение и употребление никотинсодержащих продуктов
                        -Игромания и потребность в виртуальных реальностях
                        -Финансы, обсуждение личных проблем
                        Пояснения для индивидуального и группового консультирования
                        Индивидуальное психологическое консультирование – приватная беседа на любые беспокоящие клиента темы, принятие проблем клиента как значительных, помощь в поиске решений и безусловная поддержка принимаемых клиентом решений.
                        Групповая психологическая консультация отличается от индивидуальной тем, что в ходе нее вы можете посмотреть на свои проблемы со стороны других людей, а возможно побывать на их месте, тем самым получив больше опыта и возможностей для решения своих задач.
                        На данный момент собираются группы следующих тематик:
                        -Курение и употребление никотинсодержащих продуктов
                        -Игромания и потребность в виртуальных реальностях
                        -Финансы, обсуждение личных проблем
                        Пояснения для индивидуального и группового консультирования
                        Индивидуальное психологическое консультирование – приватная беседа на любые беспокоящие клиента темы, принятие проблем клиента как значительных, помощь в поиске решений и безусловная поддержка принимаемых клиентом решений.
                        Групповая психологическая консультация отличается от индивидуальной тем, что в ходе нее вы можете посмотреть на свои проблемы со стороны других людей, а возможно побывать на их месте, тем самым получив больше опыта и возможностей для решения своих задач.
                        На данный момент собираются группы следующих тематик:
                        -Курение и употребление никотинсодержащих продуктов
                        -Игромания и потребность в виртуальных реальностях
                        -Финансы, обсуждение личных проблем</span>
                </div>
                <div class="popUp-agreement-button">
                    <span>Скачать в PDF</span>
                </div>
            </div>
        </div>

    <!--    ------------------------------------------------------------------------------------------------------------ Agreement end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Policy start -->

        <div class="popUpTwo">
            <div class="popUpTwo-policy">
                <div class="popUpTwo-policy-cross">
                    <div class="popUpTwo-policy-cross-container" onclick="hideElement('.popUpTwo', 'closePopUp 0.4s ease', 'none', 380);">
                        <span class="popUpTwo-policy-cross-container-lineOne"></span>
                        <span class="popUpTwo-policy-cross-container-lineTwo"></span>
                    </div>
                </div>
                <h3 class="popUpTwo-policy-title">Пользовательское соглашение</h3>
                <div class="popUpTwo-policy-text">
                <span>Психологиеческое консультирование выглядит как обычная беседа, в нем присутствует обыденная речь, но эффект который оно оставляет зачастую недоступен в обычной беседе.
                      Пояснения для индивидуального и группового консультирования
                        Индивидуальное психологическое консультирование – приватная беседа на любые беспокоящие клиента темы, принятие проблем клиента как значительных, помощь в поиске решений и безусловная поддержка принимаемых клиентом решений.
                        Групповая психологическая консультация отличается от индивидуальной тем, что в ходе нее вы можете посмотреть на свои проблемы со стороны других людей, а возможно побывать на их месте, тем самым получив больше опыта и возможностей для решения своих задач.
                        На данный момент собираются группы следующих тематик:
                        -Курение и употребление никотинсодержащих продуктов
                        -Игромания и потребность в виртуальных реальностях
                        -Финансы, обсуждение личных проблем
                        Пояснения для индивидуального и группового консультирования
                        Индивидуальное психологическое консультирование – приватная беседа на любые беспокоящие клиента темы, принятие проблем клиента как значительных, помощь в поиске решений и безусловная поддержка принимаемых клиентом решений.
                        Групповая психологическая консультация отличается от индивидуальной тем, что в ходе нее вы можете посмотреть на свои проблемы со стороны других людей, а возможно побывать на их месте, тем самым получив больше опыта и возможностей для решения своих задач.
                        На данный момент собираются группы следующих тематик:
                        -Курение и употребление никотинсодержащих продуктов
                        -Игромания и потребность в виртуальных реальностях
                        -Финансы, обсуждение личных проблем
                        Пояснения для индивидуального и группового консультирования
                        Индивидуальное психологическое консультирование – приватная беседа на любые беспокоящие клиента темы, принятие проблем клиента как значительных, помощь в поиске решений и безусловная поддержка принимаемых клиентом решений.
                        Групповая психологическая консультация отличается от индивидуальной тем, что в ходе нее вы можете посмотреть на свои проблемы со стороны других людей, а возможно побывать на их месте, тем самым получив больше опыта и возможностей для решения своих задач.
                        На данный момент собираются группы следующих тематик:
                        -Курение и употребление никотинсодержащих продуктов
                        -Игромания и потребность в виртуальных реальностях
                        -Финансы, обсуждение личных проблем</span>
                </div>
                <div class="popUpTwo-policy-button" onclick="hideElement('.popUpTwo', 'closePopUp 0.4s ease', 'none', 380);">
                    <span>Принимаю</span>
                </div>
            </div>
        </div>

    <!--    ------------------------------------------------------------------------------------------------------------ Policy end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Header start -->

        <header>
            <div class="header-wrapper">
                <div class="header-wrapper-left">
                    <a class="header-wrapper-left-logo" th:href="@{'/'}">
                        <img th:src="@{/custom/img/logo.svg}" alt="">
                    </a>
                    <div class="header-wrapper-left-contacts">
                        <a href="tel:+79515342645" class="header-wrapper-left-contacts-phone">+7-951-534-2645</a>
                        <a href="mailto:vladimirmoroz@help.ru" class="header-wrapper-left-contacts-email">vladimirmoroz@help.ru</a>
                    </div>
                </div>
                <div class="header-wrapper-right">
                    <nav class="header-wrapper-right-menu">
                        <a th:href="@{'/instruction'}">Инструкция</a>
                    </nav>
                    <div class="header-wrapper-right-button" onclick="showElement('.popUp','flex', 'openPopUp 0.4s ease');">
                        <span>Информированное согласие</span>
                    </div>
                </div>
            </div>
        </header>

    <!--    ------------------------------------------------------------------------------------------------------------ Header end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Body start -->

        <div class="body">
            <div class="body-firstBlock">

            </div>

            <div class="body-secondBlock">
                <h3 class="body-secondBlock-title">Виды консультаций</h3>
                <div class="body-secondBlock-container">
                    <div class="body-secondBlock-container-left">
                        <div class="body-secondBlock-container-left-top">
                            <div class="body-secondBlock-container-left-top-text">
                                <span>Индивидуальная</span>
                            </div>
                            <div class="body-secondBlock-container-left-top-icon">
                                <img alt="" th:src="@{/custom/img/person.svg}">
                            </div>
                        </div>
                        <div class="body-secondBlock-container-left-middle">
                            <p><b>Индивидуальное психологическое консультирование</b> – приватная беседа на любые беспокоящие клиента темы, принятие проблем клиента как значительных, помощь в поиске решений и безусловная поддержка принимаемых клиентом решений.</p>
                        </div>
                        <div class="body-secondBlock-container-left-bottom">
                            <div class="body-secondBlock-container-left-bottom-text">
                                <p>1500 руб. / 50 мин.</p>
                            </div>
                        </div>
                    </div>
                    <div class="body-secondBlock-container-right">
                        <div class="body-secondBlock-container-right-top">
                            <div class="body-secondBlock-container-right-top-text">
                                <span>Групповая</span>
                            </div>
                            <div class="body-secondBlock-container-right-top-icon">
                                <img alt="" th:src="@{/custom/img/people.svg}">
                            </div>
                        </div>
                        <div class="body-secondBlock-container-right-middle">
                            <p><b>Групповая психологическая консультация</b> отличается от индивидуальной тем, что в ходе нее вы можете посмотреть на свои проблемы со стороны других людей, а возможно и побывать на их месте, тем самым получив больше опыта и возможностей для решения своих задач.<br><br>На данный момент собираются группы следующих тематик:</p>
                                <div>
                                    <ul>
                                        <li>Курение и употребление никотинсодержащих продуктов</li>
                                        <li>Игромания и потребность в виртуальных реальностях</li>
                                        <li>Финансы, обсуждение личных проблем</li>
                                    </ul>
                                </div>
                        </div>
                        <div class="body-secondBlock-container-right-bottom">
                            <div class="body-secondBlock-container-right-bottom-text">
                                <p>1000 руб. / 80 мин.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body-thirdBlock">
                <div class="body-thirdBlock-title">
                    <h3>Инструкция по использованию <span>ZOOM</span></h3>
                </div>
                <div class="body-thirdBlock-container">
                    <div class="body-thirdBlock-container-left">
                        <div class="body-thirdBlock-container-left-text">
                            <p>Для вашего удобства предоставляется инструкция по использованию ZOOM на разных операционных системах.</p>
                        </div>
                        <a class="body-thirdBlock-container-left-button" th:href="@{'/instruction'}">
                            <span>Посмотреть инструкцию</span>
                        </a>
                    </div>
                    <div class="body-thirdBlock-container-right">
                        <img alt="" th:src="@{/custom/img/zoom.jpg}">
                    </div>
                </div>
            </div>
        </div>

    <!--    ------------------------------------------------------------------------------------------------------------ Body end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Footer start -->

        <footer>
            <div class="footer-wrapper">
                <div class="footer-wrapper-social">
                    <a class="footer-wrapper-social-ig"><img th:src="@{/custom/img/ig.svg}" alt=""></a>
                    <a class="footer-wrapper-social-vk"><img th:src="@{/custom/img/vk.svg}" alt=""></a>
                    <a class="footer-wrapper-social-tg"><img th:src="@{/custom/img/tg.svg}" alt=""></a>
                </div>
                <a class="footer-wrapper-policy" onclick="showElement('.popUpTwo','flex', 'openPopUp 0.4s ease');">Пользовательское соглашение</a>
                <span class="footer-wrapper-copyright"></span>
            </div>
        </footer>

    <!--    ------------------------------------------------------------------------------------------------------------ Footer end -->

    </div>

    <!--    ------------------------------------------------------------------------------------------------------------ JavaScript start -->

    <script type="text/javascript" th:src="@{custom/js/common.js}"></script>

    <!--    ------------------------------------------------------------------------------------------------------------ JavaScript end -->

</body>
</html>
