<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="@{/custom/img/logo.svg}" type="image/svg+xml">

    <link rel="preload" as="font" th:href="@{custom/font/Gilroy-Regular.woff2}" type="font/woff2" crossorigin>

    <link rel="stylesheet" th:href="@{/custom/css/common.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/custom/css/instruction.css}" type="text/css">

    <title>Мороз Владимир - психолог-консультант</title>

</head>

<body>

<div class="page-wrapper">

    <!--    ------------------------------------------------------------------------------------------------------------ Agreement start -->

    <div class="popUp">
        <div class="popUp-agreement">
            <div class="popUp-agreement-cross">
                <div class="popUp-agreement-cross-container" onclick="hideElement('.popUp', 'closePopUp 0.4s ease', 'none', 380);">
                    <span class="popUp-agreement-cross-container-lineOne"></span>
                    <span class="popUp-agreement-cross-container-lineTwo"></span>
                </div>
            </div>
            <h3 class="popUp-agreement-title">Информированное добровольное согласие клиента на психологическое консультирование</h3>
            <div class="popUp-agreement-text">
                <span th:utext="${policy.getValue()}"></span>
            </div>
            <div class="popUp-agreement-button">
                <span>Скачать в PDF</span>
            </div>
        </div>
    </div>

    <!--    ------------------------------------------------------------------------------------------------------------ Agreement end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Policy start -->

    <div class="popUpTwo">
        <div class="popUpTwo-policy">
            <div class="popUpTwo-policy-cross">
                <div class="popUpTwo-policy-cross-container" onclick="hideElement('.popUpTwo', 'closePopUp 0.4s ease', 'none', 380);">
                    <span class="popUpTwo-policy-cross-container-lineOne"></span>
                    <span class="popUpTwo-policy-cross-container-lineTwo"></span>
                </div>
            </div>
            <h3 class="popUpTwo-policy-title">Пользовательское соглашение</h3>
            <div class="popUpTwo-policy-text">
                <span th:utext="${policy.getValue()}"></span>
            </div>
            <div class="popUpTwo-policy-button" onclick="hideElement('.popUpTwo', 'closePopUp 0.4s ease', 'none', 380);">
                <span>Принимаю</span>
            </div>
        </div>
    </div>

    <!--    ------------------------------------------------------------------------------------------------------------ Policy end -->


    <!--    ------------------------------------------------------------------------------------------------------------ Header start -->

    <header>
        <div class="header-wrapper">
            <div class="header-wrapper-left">
                <a class="header-wrapper-left-logo" th:href="@{'/'}">
                    <img th:src="@{/custom/img/logo.svg}" alt="">
                </a>
                <div class="header-wrapper-left-contacts">
                    <a th:href="@{'tel:' + ${phone.getValue()}}" class="header-wrapper-left-contacts-phone" th:utext="${phone.getValue()}"></a>
                    <a th:href="@{'mailto:' + ${email.getValue()}}" class="header-wrapper-left-contacts-email" th:utext="${email.getValue()}"></a>
                </div>
            </div>
            <div class="header-wrapper-center">
                <a th:href="@{'tel:' + ${phone.getValue()}}" class="header-wrapper-center-phone" th:utext="${phone.getValue()}"></a>
                <a th:href="@{'mailto:' + ${email.getValue()}}" class="header-wrapper-center-email" th:utext="${email.getValue()}"></a>
            </div>
            <div class="header-wrapper-right">
                <nav class="header-wrapper-right-menu">
                    <a th:href="@{'/instruction'}">Инструкция</a>
                </nav>
                <div class="header-wrapper-right-button" onclick="showElement('.popUp','flex', 'openPopUp 0.4s ease');">
                    <span>Информированное согласие</span>
                </div>
                <div class="header-wrapper-right-icon">
                    <img alt="" th:src="@{/custom/img/agreement.svg}" onclick="showElement('.popUp','flex', 'openPopUp 0.4s ease');">
                </div>
            </div>
        </div>
    </header>

    <!--    ------------------------------------------------------------------------------------------------------------ Header end -->

    <!--    ------------------------------------------------------------------------------------------------------------ Footer start -->

    <footer>
        <div class="footer-wrapper">
            <div class="footer-wrapper-social">
                <a class="footer-wrapper-social-ig" th:href="@{'https://www.instagram.com/v_n_moroz/'}" target="_blank"><img th:src="@{/custom/img/ig.svg}" alt=""></a>
                <a class="footer-wrapper-social-vk" th:href="@{'https://vk.com/moroz_n_v'}" target="_blank"><img th:src="@{/custom/img/vk.svg}" alt=""></a>
                <a class="footer-wrapper-social-tg" th:href="@{'https://t.me/morozvn'}" target="_blank"><img th:src="@{/custom/img/tg.svg}" alt=""></a>
            </div>
            <div class="footer-wrapper-contacts">
                <a th:href="@{'tel:' + ${phone.getValue()}}" class="header-wrapper-left-contacts-phone" th:utext="${phone.getValue()}"></a>
                <a th:href="@{'mailto:' + ${email.getValue()}}" class="header-wrapper-left-contacts-email" th:utext="${email.getValue()}"></a>
            </div>
            <a class="footer-wrapper-policy" onclick="showElement('.popUpTwo','flex', 'openPopUp 0.4s ease');">Пользовательское соглашение</a>
            <span class="footer-wrapper-copyright"></span>
        </div>
    </footer>

    <!--    ------------------------------------------------------------------------------------------------------------ Footer end -->

</div>

<!--    ------------------------------------------------------------------------------------------------------------ JavaScript start -->

<script type="text/javascript" th:src="@{custom/js/common.js}"></script>

<!--    ------------------------------------------------------------------------------------------------------------ JavaScript end -->

</body>
</html>
